.navbar{
  margin-bottom: 0px;
}

.page-header {
  text-align: center;
  /*
  background-color: white;
  border-radius: 40px;
  */
  border-bottom: 1px solid #01545B;
}

.div-reportes {
  text-align: center;
}

.panelProfesor {
  text-align: center;
}

a:focus, a:hover {
    text-decoration: none;
}

h3, h4 {
  text-align: center;
  color: #01545B;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #116D76;
    border-radius: 50px;
}

.imgGraficas {
    margin: 30px;
}

.divGraficas {
    text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.listTitulo {
  text-align: center;
  /* background-color: #B8BFBF; */
}

.list-group-item {
  color: #116D76;
}

table thead tr th {
  text-align: center;
  color: #01545B;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 40px;
}

.jumbotron {
  margin-top: 20px;
  background-color: white;
  /* border-radius: 40px; */
}

body {
  background: #e9eaed;
}

form {
  background-color: white;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 40px;
}

label {
  color: #116D76;
}

.thumbnail {
  border-radius: 40px;
}

b {
  color: #116D76;
}

.btn-success {
  background-image: linear-gradient(to bottom,#116D76 0,#116D76 100%);
  border-color: #116D76;
}

.btn-danger {
  background-image: linear-gradient(to bottom,#01545B 0,#01545B 100%);
  border-color: #01545B;
}

.btn-success:focus, .btn-success:hover {
    background-color: #419641;
    background-position: 0 -35px;
}

.btn-danger:focus, .btn-danger:hover {
    background-color: #c12e2a;
    background-position: 0 -35px;
}

.botonesReportes {
  margin-bottom: 50px;
}


.labelInline {
  display: inline;
}

.tab-content {
  margin-bottom: 40px;
}

select {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.iconos {
  padding-left: 2em;
}

#botonVer{
  margin-left: 10em;
  width: 15%;
}

#panelInicio {
  background: #01545B;
}

#cambiarIdioma {
  background: #01545B;
}